@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --background-color: #100f0d;
    --second-background-color: #222222;
    --text-color : #fff;
    --main-color : #00FF7F;
}
html {
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: 3px solid limegreen !important; */
}

body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0;
}
html {
    font-size: 100%;
}
img[alt="www.000webhost.com"]{
    display: none;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(16, 15, 13, 0.90);
    z-index: 99999;
    backdrop-filter: blur(15px);
    justify-content: space-between;
    align-items: center;
    }

    /* Cible les flèches dans les navigateurs WebKit */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Cible les flèches dans Firefox */
    input[type="number"]::-moz-number-spin-box {
        -moz-appearance: none;
        margin: 0;
    }

.nav.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

#menu-icon {
    font-size: 2rem;
    color: var(--text-color);
    display: none;
}
.blurry {
    width: 100%;
}
nav > .nav-section{
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

h1, h2, h3, a, p, span{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
}
h1::selection, h2::selection, h3::selection, a::selection, p::selection, span::selection {
    color: #000;
    background-color: var(--main-color);
}
a{
    text-decoration: none;
}
span {
    color: var(--main-color);
}
nav #nav-link-section {
    display: none;
    }
section {
    min-height: 100vh;
    padding: 12rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-img {
    overflow: hidden;
    animation: floatImage 4s ease-in-out infinite;
    }

.home-img > img {
    animation: floatImage 4s ease-in-out infinite;
    object-fit: cover;
}
img{
    width: 35vw;
    overflow: hidden;
    object-fit: cover;

}

.home-content {
    width: 65%;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
margin-bottom: 2rem ;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.2rem;
    color: var(--background-color);
    letter-spacing: .1rem;
    font-weight: 500;
    transition: .5s ease;
    border: none;
}
.home-content > a.btn {
    margin-top: 3rem;
}

.btn:hover{
    box-shadow: none;
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
}


#nav-contact-section > a{
    font-weight: 500;
    font-size: 1.05rem;
    transition: .3s;
    margin-left: 1rem;

    
}
#nav-contact-section > a:hover,
#nav-contact-section > a.active{
    color: var(--main-color);
}

#nav-logo-section{
    justify-content: flex-start;
    border-left: none;
}

#nav-logo-section > a {
    font-weight: 600;
    margin-left: 2rem;
    font-size: 1.7rem;
    transition: color 0.3s cubic-bezier(.17,.67,.9,.93);
    
    }
#nav-logo-section > a:hover{
    color: var(--main-color);
    transition: color 0.3s cubic-bezier(.17,.67,.9,.93);
}
#nav-social-section {
    gap: 3rem
}

#nav-link-section{
    gap: 6rem;
}
nav > .nav-section {
    padding: 3rem 2rem;
}

#menu {  
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
  }

.menu-item {
    font-size: clamp(3rem, 8vw, 6.5rem);
    font-family: 'Signika Negative', sans-serif;
    color: white;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}
body > #menu > #menu-items > a{
    color: none;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem) ;
    position: relative;
    z-index: 2;
    
}

#menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 1;
  }
#menu-items:hover > .menu-item:hover{
    opacity: 1;
}
#menu-items:hover > .menu-item{
    opacity: 0.3;
}
#menu-items:hover ~ #menu-background-pattern{
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
  
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }
  
  #menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%
  }
  
  #menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%
  }
  
  #menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%
  }
  
  #menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%
  }

#menu-background-image {
    height: 100%;
    width: 100%;

    background-image: url("https://images.unsplash.com/photo-1564419434663-c49967363849?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");

position: absolute;
left: 0%;
top: 0px;
z-index: 0;

background-position: center 40%;
background-size: 110vmax;
opacity: 0.18;
transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}
#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.13;
}

.button{
    color: var(--text-color)
}

/* Container ligting  */
.container{
    width: 40%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75rem;
}
.container .bar{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(145deg, #171618, #1b1a1d);
    box-shadow: 5px 5px 10px #121113, -5px -5px 10px #211f23;
}

.button-container {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    width: 100%;
    justify-content: space-between;
}

.button{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button .dot{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #100f0d;
    transform: translateY(calc(-100px - 50%)) translateX(calc(50px - 50%));
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.social-neon{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.button .light{
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 165px;
    transform:translateX(calc(50px - 50%));
    clip-path: polygon(49% 0, 51% 0, 100% 100%, 0 100%);
    pointer-events: none;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    opacity: 0;
}

.button button{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background: linear-gradient(145deg, #171618, #1b1a1d);
    box-shadow: 5px 5px 10px #121113, -5px -5px 10px #211f23;
    border: none;
    color: #0e0e0e;
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;

}
.button button i{
    font-size: 36px;
}

.button button span{
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button:nth-child(1) .light{
    background: linear-gradient(180deg, var(--color), #00FF7F50, #f0515400);
}

.button:nth-child(2) .light{
    background: linear-gradient(180deg, var(--color), #00FF7F50, #f0832400);
}

.button:nth-child(3) .light{
    background: linear-gradient(180deg, var(--color), #00FF7F50, #ebcd1d00);
}

.button:hover .light {
    opacity: 1;
}

.button:hover .dot{
    background-color: var(--color);
    box-shadow: 0 0 10px var(--color), 0 0 30px var(--color);
}

.button:hover button{
    color: var(--color);
}

.button:hover span{
    color: var(--color);
}

/* Media stretch  */

.social-media a {
    display: none;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 1rem 1.5rem 1rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-background-color);
    box-shadow: 0 0 1rem var(--main-color);
}
/* section a propos  */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-background-color);
}

.about-img img {
    width: 35vw;
}

.heading{
    text-align: center;
    font-size: 3rem;
}
.about-content h2 , span {
    text-align: left;
    line-height: 1.2;
    font-weight: 700;
}

.about-content h3 {
    font-size: 2.4rem;
    font-weight: 700;
}

.about-content p {
    font-size: 1.3rem;
    margin: 1rem 0 2rem;
}
.about-content > a.btn{
    margin: 0;
}

.services > h2.heading {
    font-weight: 700;
}

.services > h2 {
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-background-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--background-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 5rem;
    color: var(--main-color);
    
}
.services-box  h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.services-box  p{
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
    font-weight: 400;
}
section.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    background-color: var(--second-background-color);
    min-height: 0;
    padding: 12rem 9% 3rem;
    
}
section.services {
    padding: 12rem 9% 7rem;
}
section.contact {
    border: none;
}
/* Mes compétences icon animation */

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
    list-style-type: none;
    padding: 0;
}

ul li {
    position: relative;
    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
}

ul li span{
    color: white;
}

li .base{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid var(--color);
    border-left: 8px solid transparent;
    filter: drop-shadow(0 0 10px var(--color));
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotateX(60deg) rotateZ(0)
    }
    100%{
        transform: rotateX(60deg) rotateZ(-360deg)
    }
}
li .base::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 9px;
    left: 9px;
    border-radius: 50%;
    background-color: var(--color);
}

li .base, li .title, li .icon, li .number{
    position: absolute;
    color: #b5b5b5;
    transform: rotateX(60deg) rotateZ(-45deg);
    cursor: pointer;
    transition: .5s ease-in-out;
}

li .title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    transform: rotateY(30deg) skewY(-24deg) translateY(0px);
    pointer-events: none;
    opacity: 0;
}

li .number {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    pointer-events: none;
    opacity: 0;
}


li .icon{
    display: grid;
    place-items: center;
    font-size: 80px;
    height: 100%;
    pointer-events: none;
}

.base:hover {
    filter: drop-shadow(0 0 10px var(--color));
    animation-play-state: paused;
}

.base:hover + .title + .icon {
    transform: rotateY(30deg) skewY(-24deg) translateY(-160px);
    color: var(--color);
    filter: drop-shadow(0 0 3px var(--color));
    animation: wave 1s ease-in-out infinite;
}
.base:hover + .title + .icon + .number{
    opacity: 1;
    color: var(--color);
    filter: drop-shadow(0 0 3px var(--color));
    margin-bottom: 15px;
    
}

.base:hover + .title {
    transform: rotateY(30deg) skewY(-24deg) translateY(-90px);
    color: var(--color);
    filter: drop-shadow(0 0 3px var(--color));
    transition-delay: 0.1s;
    opacity: 1;
    animation: wave 1s ease-in-out infinite;
}

@keyframes wave{
    0%, 100% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 15px;
    }
}

/* contact section  */

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background: var(--second-background-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: none;
}
input:focus, textarea:focus {
    outline: none; /* Supprime l'outline par défaut */
  /* Ajoutez ici les styles personnalisés pour l'effet "active" */
  border: 2px solid var(--main-color); /* Par exemple, une bordure bleue */
  box-shadow: 0 0 5px var(--main-color); /* Un effet d'ombre */
}
.contact form .input-box input {
    width: 49%;

}

.contact form textarea {
    resize: none;
}

.contact form .btn{
    margin-top: 1.5rem;
    cursor: pointer;
}

/* footer  */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-background-color);
}

.footer-text p{
    font-size: 1rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition:  .4s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 1.6rem;
    color: var(--second-background-color);
}


/* animation class css  */
.container .services-box{
    transition: background-color 10s ease-in-out;
}

.animation-services-box1 {
    background-color: red !important;
    align-self: stretch;

  }
    
  .animation-services-box2 {
    background-color: blue !important;
  }
  
  .animation-services-box3 {
    
    background-color: green !important;
  }
  
  .animation-services-box4 {
    
    background-color: yellow !important;
  }
  
  .animation-services-box5 {
    background-color: purple !important;
  }
  
  .animation-services-box6 {
    background-color: orange !important;
  }
  
  .animation-services-box7 {
    background-color: pink !important;
  }
  
  .animation-services-box8 {
    background-color: teal !important;
  }
  
  .animation-services-box9 {
    background-color: brown !important;
  }
  
  .animation-services-box10 {
    background-color: cyan !important;
  }
  
  .animation-services-box11 {
    background-color: magenta !important;
  }
  
  .animation-services-box12 {
    background-color: gray !important;
  }
  
  .animation-services-box13 {
    background-color: silver !important;
  }
  
  .animation-services-box14 {
    background-color: gold !important;
  }
  
  .animation-services-box15 {
    background-color: lime !important;
  }
  

/* BREAKPOINT Responsive  */


@media (max-width: 1817px) {
    ul{
        width: 1200px;
    }
    .container {
        display: none;
    }
    .home-content > a.btn {
        margin-top: 2rem;
    }

    .social-media a {
        display: inline-flex;
    }
}

@media (max-width: 1302px) {
    ul {
        width: 800px;
        gap: 50px;
        flex-wrap: wrap;
    }
}


@media (max-width: 1200px) {
    html {
        font-size: 75%;
    }
    section {
        min-height: 70vh;
    }
}
@media (max-width: 1141px) {
    .home-content h1{
        font-size: 5rem;
    }
}

@media (max-width: 1027px) {
    .home-content h1 {
        font-size: 4.8rem;
    }
    .home-content h3 {
        font-size: 2.9rem;
    }
    .home-content p {
        font-size: 1.4rem;
    }
}
@media (max-width: 991px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
    nav {
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
    ul {
        width: 650px;
        flex-wrap: wrap;
        gap: 80px;
    }
    ul li {
        width: 150px;
        height: 150px;
    }
    li .base::after{
        width: 22px;
        height: 22px;
        top: 6px;
        left: 6px;
    }
    li .icon {
        font-size: 60px;
    }
    li .number {
        font-size: 45px;
    }
    section.portfolio {
        gap: 10rem;
    }
    .contact {
        min-height: auto;
    }
}

@media (max-width: 774px) {
    #nav-logo-section > a {
        margin-left: 0;
        font-size: 2rem;
    }
    .home-content h1 {
        font-size: 4.3rem;
    }
    nav{
        background-color: rgba(16, 15, 13);
        backdrop-filter: none;
    }
    .header {
        backdrop-filter: blur(15px);
    }

    #menu-icon {
        display: block;
    }
    
    #nav-contact-section {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        background-color: rgba(16, 15, 13);
        justify-content: space-between;
        display: none;
    }
    #nav-contact-section.active {
        display: block;
    }
    #nav-contact-section a {
        display: block;
        font-size: 1.2rem;
        margin: 3rem 0;
    }
    #nav-logo-section {
        width: 100%;
        justify-content: space-between;
    }
    nav-section {
        display: flex;
        justify-content: space-between;
    }
    nav > .nav-section {
        padding: 1rem 3%;
    }

    .home {
        flex-direction: column;
    }

    .home-content {
        width: 100%;
    }
    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }
    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
    html {
        font-size: 100%;
    }
}

@media (max-width: 691px) {
    ul {
        width: 100%;
        flex-direction: column;
        
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;   
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

/* loader */
.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2a9d8f;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
  }
  
  @keyframes loading-bounce {
    0% {
      transform: scale(1, 0.7);
    }
  
    40% {
      transform: scale(0.8, 1.2);
    }
  
    60% {
      transform: scale(1, 1);
    }
  
    100% {
      bottom: 140px;
    }
  }
  
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
              0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2;
    }
  
    100% {
      box-shadow: 0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2,
              -70px 90px 0 rgba(0, 0, 0, 0);
    }
  }


  .loader-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99999;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background-color);
  }